*
  box-sizing border-box
body
  font-family 'Arial', sans-serif
.slider
  &__items
    position relative  
  &__item
    height: 100%
    position absolute
    background-size: cover
    background-position: center
    cursor pointer
    z-index 300
    transition width .4s, left .4s
    .desc
      opacity 0
      transition opacity .3s
  &__active
    z-index 301
    .desc
      padding 10px
      position absolute
      left 0
      bottom 0
      width 100%
      background rgba(#000, .5)
      font-size 14px
      color #fff
      opacity 1